/Ejercicio02/build/
/Ejercicio03/nbproject/private/
/Ejercicio03/build/
/Ejercicio04/nbproject/private/
/Ejercicio04/build/
/Parcial1/nbproject/private/
/Parcial1/build/
/Parcial2/nbproject/private/
/Parcial2/build/
/Parcial3/nbproject/private/
/Parcial3/build/
/Parcial4/nbproject/private/
/Parcial5/nbproject/private/